@use '@/styles/helpers/_custom-text' as *;
@use '@/styles/helpers/_mixins' as *;
:root {
  --primary-yellow: #fec631;
  --primary-orange: #f59004;
}
a {
  text-decoration: none;
}

/* 讓 Hero 區塊變成黃色 */
.heroSection {
  background-color: var(--primary-yellow);
  position: relative;
}
.heroTitle {
  @include apply-font($TC-1-Heading04-Bold);
  color: #262626;
}
.hero-img-sign {
  position: relative;
}
.hero-img-sign::after {
  /* 行動版箭頭 */
  content: '';
  position: absolute;
  background-image: url('/src/assets/img/Frame87783.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 84px;
  height: 112px;
  top: -24px;
  right: 27px;
}
.heroSlogan {
  @include apply-font($TC-1-Body-Regular);
  color: #262626;
}
.heroSection::after {
  /* 行動版六寶大圖 */
  content: '';
  position: absolute;
  background-image: url('/src/assets/img//minnie-zhou-0hiUWSi7jvs-unsplash1.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  aspect-ratio: 1024/682;
  top: 108px;
  right: 0px;
  z-index: 5;
}
.searchArea {
  background-color: #ffffff;
  border-radius: 16px;
}
.search-item {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fec631;
  padding-bottom: 6px;
}
.search-item:last-of-type {
  border: none;
}
.form-select {
  border: none;
  font-weight: bold;
}
.form-select label {
  font-size: 14px;
}
.search-btn {
  background-color: var(--primary-yellow);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border: none;
  font-weight: bold;
  color: #0a0a0a;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-btn .feather {
  stroke-width: 2;
}
/* --- Feather Icons 通用設定 --- */
.feather {
  width: 24px; /* 預設寬度 */
  height: 24px; /* 預設高度 */
  stroke: currentColor; /* 讓圖示顏色跟著文字顏色變 */
  stroke-width: 3; /* 線條粗細 (Feather 特色是細線，你可以改 2.5 或 3 變粗) */
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; /* 預設不要填滿顏色 (除非你要做實心) */
  vertical-align: text-bottom; /* 讓圖示跟文字對齊好看一點 */
}

/* ---- 桌機板hero ---- */
@media (min-width: 768px) {
  .heroSection {
    overflow: hidden;
    width: auto;
    max-width: 1920px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 40px;
  }

  .heroTitle {
    padding-top: 96px;
    @include apply-font($TC-1-Heading01-Bold);
    position: relative;
    z-index: 3;
  }
  .heroSlogan {
    @include apply-font($TC-1-Heading06-Bold);
    position: relative;
    z-index: 3;
  }
  .searchArea {
    border-radius: 24px;
    max-width: 656px;
    position: relative;
    z-index: 3;
  }
  .search-item {
    border: 0;
    padding: 0;
    margin-bottom: 8px;
  }
  .search-btn {
    border-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .hero-img-sign {
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 143px;
  }

  .hero-img-sign::after {
    /* --桌機板右上方虛線箭頭-- */
    /* border: 1px solid red; */
    background-image: url('/src/assets/img/Frame87781.png');
    background-size: cover;
    position: absolute;
    display: block;
    aspect-ratio: 728 / 164;
    width: 80%;
    max-width: 728px;
    height: 164px;
    top: 16px;
    right: -150px;
  }
  .heroSection::before {
    /* --桌機板左下方虛線箭頭-- */
    /* border: 1px solid red; */
    content: '';
    background-image: url('/src/assets/img/Frame87780.png');
    background-size: cover;
    position: absolute;
    width: 640px;
    height: 204px;
    bottom: 58px;
    left: 118px;
    /* display: block;
    aspect-ratio: 728 / 164;
    width: 80%;
    top: 16px;
    right: -150px; */
  }
  .heroSection::after {
    /* 桌機版六寶大圖 */
    width: 880px;
    aspect-ratio: 1024/682;
    top: auto;
    bottom: -40px;
    right: 0px;
    left: auto;
    z-index: 2;
  }
}
/* -- 以上為Hero區塊 -- */
