@use 'swiper/css';
@use 'swiper/css/pagination';
@use 'swiper/css/navigation';
/* -- 熱門店家 -- */
:root {
  --primary-yellow: #fec631;
  --primary-orange: #f59004;
}
a {
  text-decoration: none;
}
/* 使用 class section-title 的顏色 */
.section-title.primary-yellow::before {
  color: #fec631;
}

.hotSpot .store-img {
  width: 132px; /* 圖片通常可以比線條 icon 大一點，看你需求調整 */
  height: auto; /* 高度自動，維持比例 */
  object-fit: contain; /* 確保圖片完整顯示不變形 */
}

/* --- 熱門店家區塊 Swiper 設定 --- */
.swiper {
  background-color: var(--primary-yellow); /* 整個背景是黃的 */
}
/* 1. 卡片預設樣式 (針對旁邊沒選中的卡片) */
.store-card {
  /* 關鍵：背景透明，透出底下的黃色，看起來就像黃色遮罩 */
  background-color: transparent;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* 稍微透明一點，讓文字不跟背景打架 */
  opacity: 0.2;
  /* 動畫過渡效果 */
  transition: all 0.3s ease;
  padding: 16px 12px 24px 12px;
  max-height: 261px;
}
.fav-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.store-content {
  min-height: 104px;
}
.store-name {
  font-weight: bold;
  color: #262626;
}
.store-add {
  font-size: 14px;
  color: #777777;
  margin: 0;
}
/* 3. 🔥 Active 狀態：當卡片被選中時 (變回實心) */
.swiper-slide-active .store-card {
  background-color: #fff; /* 變成純白背景 */
  opacity: 1; /* 完全不透明 */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); /* 加上浮起來的陰影 */
}
.swiper-slide-active .fav-icon {
  fill: currentColor;
  color: var(--primary-orange);
}
.swiper-slide-active span {
  color: var(--primary-orange);
}

@media (min-width: 768px) {
  .hotSpot {
    background-color: var(--primary-yellow);
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
  }
  .swiper {
    background-color: transparent;
  }
  .hotSpot-content {
    max-width: 1296px;
    margin: 0 auto;
  }
  .store-card {
    opacity: 1;
    padding-bottom: 48px;
    padding-top: 36px;
    border-radius: 16px;
  }
  .fav-icon {
    fill: currentColor;
    color: var(--primary-orange);
  }
  .store-card {
    max-height: 383px;
  }
  .store-card span {
    color: var(--primary-orange);
  }
  .hotSpot .store-img {
    width: 274px; /* 圖片通常可以比線條 icon 大一點，看你需求調整 */
  }
  .store-name {
    font-size: 20px;
  }
  .store-add {
    font-size: 16px;
  }

  body .hotSpot .swiper-button-prev,
  body .hotSpot .swiper-button-next {
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    color: #525252;
    z-index: 10;
    margin: 0;
    border: none;
    top: 55%;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .hotSpot .swiper-button-prev:hover,
  .hotSpot .swiper-button-next:hover {
    border: 2px solid var(--primary-yellow);
    cursor: pointer;
    transform: scale(1.1); /* 放大 1.1 倍 */
  }
  .hotSpot .swiper-button-prev:active,
  .hotSpot .swiper-button-next:active {
    background-color: #e5e5e5;
    transform: scale(0.9); /* 縮小到 0.9 倍 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 陰影縮小，感覺貼近盤面 */
  }
  .hotSpot .swiper-button-prev .feather,
  .hotSpot .swiper-button-next .feather {
    fill: none;
    width: 36px;
    height: 36px;
    stroke-width: 2;
  }
}
@media (min-width: 1600px) {
  body .hotSpot .swiper-button-prev {
    left: calc(50% - 648px - 34px);
  }
  body .hotSpot .swiper-button-next {
    right: calc(50% - 648px - 34px);
  }
}
