.admin-header {
  height: 64px;
  background: $admin-navbar-bg;
  border-bottom: 1px solid $admin-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
