@use '@/styles/helpers/mixins' as *;
@use '@/styles/helpers/admin/admin-variables' as *;

.admin-layout {
  min-width: 1440px;
  max-width: 1920px;
  margin: 0 auto;
  background: $admin-bg;
}

.admin-wrapper {
  display: flex;
  min-height: calc(100vh - 64px);
}
