@use '@/styles/helpers/_custom-text' as *;
@use '@/styles/helpers/_mixins' as *;
@use '@/styles/helpers/breakpoints' as *;

.ui-error-message {
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  // 微動畫
  animation: fadeIn 0.25s ease;

  @include respond($breakpoints, mobile) {
    width: 75%;
  }

  @include respond($breakpoints, pad) {
    width: 50%;
  }

  @include respond($breakpoints, desktop) {
    width: 35%;
  }
}
