@use '../helpers/custom-text' as *;
@use '../helpers/variables' as *;
@use '../layout/layout' as *;

.member-card,
.member-form {
  border-radius: 12px;
  background: #fff;

  h2 {
    @include apply-font($TC-1-Heading05-Bold);
  }

  .info-title {
    @include apply-font($TC-1-Heading06-Bold);
  }
}

.member-card-info {
  width: 60%;
  margin: 0 auto;
}

.petType-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;

  &.checked {
    background-color: #f3e5d8;
    border-color: #c69c6d;
  }
}
