@use '@/styles/helpers/custom-text' as *;
@use '@/styles/helpers/mixins' as *;
@use '@/styles/helpers/breakpoints' as *;
@use '@/styles/helpers/variables' as *;
@use '@/styles/layout/layout' as *;

.member-group {
  gap: 16px;
  margin-right: 0px;
  margin-left: 0px;

  @include respond($breakpoints, desktop) {
    gap: 0px;
  }
}
.member-card,
.member-form {
  width: 90%;
  margin: 0 auto;
  border-radius: 12px;
  background: #fff;

  @include respond($breakpoints, desktop) {
    width: 100%;
  }

  h2 {
    @include apply-font($TC-1-Heading05-Bold);
  }

  .info-title {
    @include apply-font($TC-1-Heading06-Bold);
  }
}

.member-card-info {
  width: 60%;
  margin: 0 auto;
}

.petType-checkbox {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border: 1px solid $ui-neutral-50;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;

  &.checked {
    background: $ui-blue-700;
    color: $ui-neutral-50;
    border-color: $ui-blue-700;
  }

  input {
    display: none;
  }
}

.petType-checkbox.disabled {
  opacity: 0.5;
  pointer-events: none;
}
